@page
@model MoutsWebSemEF.Pages.Vendas.ListItemsModel
@{
}

<h1>Itens</h1>

<p>
    <a asp-page="Create">Nova venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Itens[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itens[0].Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    <a asp-page="./Vendas/ListItems" asp-route-id="@item.Id">Ver itens</a>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>