@page
@model MoutsWeb.Pages.Vendas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.Cliente.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda.Pagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.Pagamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda.ValorTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.ValorTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Venda.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
