@page
@model MoutsWeb.Pages.Vendas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venda[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda[0].Pagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda[0].ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Venda) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
